[Desktop Entry]
Categories=Office;
Comment[en_US]=Generate expenses report
Comment=Generate expenses report
Exec=./myFin
GenericName[en_US]=Expenses
GenericName=Expenses
Icon=financial-budget
Keywords=office;finance;expenses;
MimeType=
Name[en_US]=MyFin
Name=MyFin
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.26
X-KDE-SubstituteUID=false
X-KDE-Username=
